:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 25%);

  overflow-y: scroll;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  width: 240px;
  line-height: 1.3;
  background: #FFFFFF;
}

.modal__section {
  display: block;
}

.modal__title {
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* ? POSTER*/

.modal__poster {
  width: 200px;
}

.modal__img {
  width: 100%;
  height: 100%;
}


/* ? INFORMATION */

.modal__information {
  display: flex;
  margin-bottom: 20px;
}

.modal__item {
  margin-right: 30px;
  color: #8C8C8C;
}

.modal__into:not(:last-child) {
  margin-bottom: 8px;
}

.modal__vote,
.modal__votes {
  width: 36px;
  padding: 1px 0;
  margin-right: 3px;
  text-align: center;

  color: #FFFFFF;
  background: #FF6B01;
  border-radius: 5px;
}

.modal__votes {
  margin-left: 3px;
}

.modal__into--vote {
  display: flex;
}

.modal__votes {
  color: #000000;
  background: #F7F7F7;
}

.modal__origin,
.modal__subtitle {
  text-transform: uppercase;
}

.modal__subtitle {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 8px;
}

.modal__text {
  width: 220px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.modal__buttons {
  display: flex;
}

.button {
  width: 100px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;

  font-size: 12px;
  line-height: 1.3;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 20px;
}

.button:hover {
  color: #FFFFFF;
  background: #FF6B01;
  border: 1px solid #FF6B01;
}

/* todo Media */

@media screen and (min-width: 320px) {
  .modal {
    width: 280px;
  }

  .modal__section {
    display: block;
    padding: 48px 20px 40px 20px;
  }

  .modal__poster {
    margin: 0 0 20px 0;
    width: 240px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__item {
    margin-right: 40px;
  }

  .modal__text {
    width: 240px;
  }

  .button {
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 705px;
  }

  .modal__section {
    display: flex;
    padding: 40px 72px 40px 36px;
  }

  .modal__poster {
    margin: 0 66px 0 0;
    width: 265px;
    height: 375px;
  }

  .modal__text {
    width: 265px;
  }

  .button {
    width: 125px;
  }

  .button:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 815px;
  }

  .modal__section {
    padding: 40px 16px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .modal__poster {
    margin-right: 16px;
    width: 375px;
    height: 480px;
  }

  .modal__item {
    margin-right: 85px;
  }

  .modal__text {
    width: 400px;
  }

  .modal__buttons {
    padding-right: 10px;
  }

  .button {
    width: 136px;
  }
}